:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #0f172a;
  background-color:#a399ff;
  background-image:
    radial-gradient(at 97% 56%, hsla(55,79%,63%,1) 0px, transparent 50%),
    radial-gradient(at 71% 97%, hsla(53,99%,64%,1) 0px, transparent 50%),
    radial-gradient(at 61% 49%, hsla(65,70%,62%,1) 0px, transparent 50%),
    radial-gradient(at 2% 16%, hsla(212,89%,61%,1) 0px, transparent 50%),
    radial-gradient(at 90% 93%, hsla(323,73%,71%,1) 0px, transparent 50%),
    radial-gradient(at 0% 2%, hsla(343,89%,72%,1) 0px, transparent 50%),
    radial-gradient(at 31% 51%, hsla(174,77%,69%,1) 0px, transparent 50%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
  line-height: 1.1;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font-weight: 500;
  border-radius: .2rem;
}

a:hover {
  text-decoration: none;
}

a:focus-visible {
  outline: 2px solid #3b82f6;
  outline-offset: 2px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  max-width: 400px;
}

label {
  font-size: .9rem;
  font-weight: 500;
}

input, select {
  font-family: inherit;
  font-size: 1rem;
  padding: .5rem;
  border: 1px solid #a4a4a4;
  border-radius: .5rem;
  background-color: #fff;;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" viewBox=\"0 0 256 256\"><path d=\"M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z\"></path></svg>");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 16px;
  padding-right: 2rem;
}

input:focus-visible, select:focus-visible {
  outline: 2px solid #3b82f6;
  outline-offset: 2px;
}

.sr-only {
  display: none;
}
